In [5]:
import pandas as pd

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.to_csv("../data/raw/data.csv", index = False)

In [11]:
dicionario = pd.DataFrame([
    {
        "variavel": "total_bill",
        "descricao": "Valor total da conta",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },{
        "variavel": "tip",
        "descricao": "Valor da gorjeta",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },{
        "variavel": "sex",
        "descricao": "Gênero do cliente pagante (Male = Masculino, Female = Feminino)",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },{
        "variavel": "smoker",
        "descricao": "Informa se algum cliente da mesa é fumante (Yes) ou não (No)",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },{
        "variavel": "day",
        "descricao": "Dia da semana em que ocorreu o serviço",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },{
        "variavel": "time",
        "descricao": "Horário em que ocorreu o serviço (Lunch = Almoço, Dinner = Jantar)",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },{
        "variavel": "size",
        "descricao": "Quantidade de pessoas na mesa (1-6)",
        "tipo": "Quantitativa",
        "subtipo": "Discreta"
    }
])
dicionario.to_csv('../data/external/dictionary.csv', index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,total_bill,Valor total da conta,Quantitativa,Contínua
1,tip,Valor da gorjeta,Quantitativa,Contínua
2,sex,"Gênero do cliente pagante (Male = Masculino, F...",Qualitativa,Nominal
3,smoker,Informa se algum cliente da mesa é fumante (Ye...,Qualitativa,Nominal
4,day,Dia da semana em que ocorreu o serviço,Qualitativa,Nominal
5,time,Horário em que ocorreu o serviço (Lunch = Almo...,Qualitativa,Nominal
6,size,Quantidade de pessoas na mesa (1-6),Quantitativa,Discreta